<% if tires.blank? -%>
  <p>
    <%= label_tag :Ancho %>
    <%= select_tag :tire_width_id, options_for_select([[t(:width), '']] +
                              @widths.map {|t| [t.name, t.id]},
                            @width ? @width.id : params[:tire_width_id]) %>
    <%= label_tag :Perfil %>
    <%= select_tag :tire_profile_id, options_for_select([[t(:profile), '']] +
                              @profiles.map {|t| [t.name, t.id]},
                            @profile ? @profile.id : params[:tire_profile_id]) %>
    <%= label_tag :Llanta %>
    <%= select_tag :tire_innertube_id, options_for_select([[t(:innertube), '']] +
                              @innertubes.map {|t| [t.name, t.id]},
                            @innertube ? @innertube.id : params[:tire_innertube_id]) %>                        
  </p>
  <p>
    <%= label_tag :IC %>
    <%= select_tag :tire_ic_id, options_for_select([[t(:ic), '']] +
                              @ics.map {|t| [t.name, t.id]},
                            @ic ? @ic.id : params[:tire_ic_id]) %>
    <%= label_tag :Velocidad %>
    <%= select_tag :tire_speed_code_id, options_for_select([[t(:speed_code), '']] +
                              @speeds.map {|t| [t.name, t.id]},
                            @speed ? @speed.id : params[:tire_speed_code_id]) %>
    <%= label_tag :FR %>
    <%= select_tag :tire_fr_id, options_for_select([[t(:fr), '']] +
                              @frs.map {|t| [t.name, t.id]},
                            @fr ? @fr.id : params[:tire_fr_id]) %>
    <%= label_tag :TTTL %>
    <%= select_tag :tire_tttl_id, options_for_select([[t(:tttl), '']] +
                              @tttls.map {|t| [t.name, t.id]},
                            @tttl ? @tttl.id : params[:tire_tttl_id]) %>
  </p>
<% else -%>
  <p>
    <%= label_tag :Ancho %>
    <%= select_tag :tire_width_id, options_for_select([[t(:width), '']] +
                              Spree::TireWidth.find(tires[0]).map {|t| [t.name, t.id]}, @width) %>
    <%= label_tag :Perfil %>
    <%= select_tag :tire_profile_id, options_for_select([[t(:profile), '']] +
                              Spree::TireProfile.find(tires[1]).map {|t| [t.name, t.id]}, @profile) %>
    <%= label_tag :Llanta %>
    <%= select_tag :tire_innertube_id, options_for_select([[t(:innertube), '']] +
                              Spree::TireInnertube.find(tires[2]).map {|t| [t.name, t.id]}, @innertube) %>                        
  </p>
  <p>
    <%= label_tag :IC %>
    <%= select_tag :tire_ic_id, options_for_select([[t(:ic), '']] +
                              Spree::TireIc.find(tires[3]).map {|t| [t.name, t.id]}, @ic) %>
    <%= label_tag :Velocidad %>
    <%= select_tag :tire_speed_code_id, options_for_select([[t(:speed_code), '']] +
                              Spree::TireSpeedCode.find(tires[4]).map {|t| [t.name, t.id]}, @speed) %>
    <%= label_tag :FR %>
    <%= select_tag :tire_fr_id, options_for_select([[t(:fr), '']] +
                              Spree::TireFr.find(tires[5]).map {|t| [t.name, t.id]}, @fr) %>
    <%= label_tag :TTTL %>
    <%= select_tag :tire_tttl_id, options_for_select([[t(:tttl), '']] +
                              Spree::TireTttl.find(tires[6]).map {|t| [t.name, t.id]}, @tttl) %>
  </p>
<% end -%>
