<% content_for :sidebar do %>
  <% if "products" == @current_controller && @taxon %>
    <%= render :partial => "spree/shared/filters" %>
  <% else %>
    <%= render :partial => "spree/shared/taxonomies" %>
  <% end %>
<% end %>

<%#= render :partial => 'spree/shared/error_messages', :locals => { :target => @setting } %>

<h1>Configuracion Aplicacion</h1>

<table class="">
  <tr>
    <% Spree::Setting::FLAGS_LIST_1.each do |item| -%>
      <td><%= image_tag(item, :size => "50x50") %></td>
    <% end -%>
    <td colspan=2><h6>Entrega 24 Horas</h6></td>
  </tr>
  <tr>
    <% Spree::Setting::FLAGS_LIST_2.each do |item| -%>
      <td><%= link_to image_tag(item, :size => "50x50"), set_flag_setting_url("es") %></td>
    <% end -%>
    <td colspan=2><h6>Entrega 48 Horas</h6></td>
  </tr>
  <tr>
    <% Spree::Setting::FLAGS_LIST_3.each do |item| -%>
      <td><%= image_tag(item, :size => "50x50") %></td>
    <% end -%>
    <td colspan=2><h6>Entrega 2-4 dias</h6></td>
  </tr>
  <tr>
    <% Spree::Setting::FLAGS_LIST_4.each do |item| -%>
      <td><%= image_tag(item, :size => "50x50") %></td>
    <% end -%>
    <td colspan=2><h6>Entrega 3-4 dias</h6></td>
  </tr>
</table>

