<% content_for :sidebar do %>
  <% if "products" == @current_controller && @taxon %>
    <%= render :partial => "spree/shared/filters" %>
  <% else %>
    <%= render :partial => "spree/shared/taxonomies" %>
  <% end %>
<% end %>

<%#= render :partial => 'spree/shared/error_messages', :locals => { :target => @setting } %>

<h1><%= t('.what_need') %></h1>
<%= form_for @valor, :url => settings_path do |f| %>
  <p>
    <%= f.label :Ancho %>
    <%= f.collection_select(:ancho, Spree::TireWidth.all, :id, :name, { :include_blank => true }, { 'style' => 'width:80px' }) %>
    <%= f.label :Perfil %>
    <%= f.collection_select(:perfil, Spree::TireProfile.all, :id, :name, { :include_blank => true }, { 'style' => 'width:80px' }) %>
    <%= f.label :Llanta %>
    <%= f.collection_select(:llanta, Spree::TireInnertube.all, :id, :name, { :include_blank => true }, { 'style' => 'width:80px' }) %>
  </p>
  <p>
    <%= f.label :IC %>
    <%= f.collection_select(:ic, Spree::TireIc.all, :id, :name, { :include_blank => true }, { 'style' => 'width:80px' }) %>
    <%= f.label :Velocidad %>
    <%= f.collection_select(:velocidad, Spree::TireSpeedCode.all, :id, :name, { :include_blank => true }, { 'style' => 'width:80px' }) %>
    <%= f.label :FR %>
    <%= f.collection_select(:fr, Spree::TireFr.all, :id, :name, { :include_blank => true }, { 'style' => 'width:80px' }) %>
    <%= f.label :TTTL %>
    <%= f.collection_select(:tttl, Spree::TireTttl.all, :id, :name, { :include_blank => true }, { 'style' => 'width:80px' }) %>
  </p>
  <p>
    <ul style="display:inline;float:left;">
      <% for flag in 0..6 -%>
        <li><%= f.submit t('.submit'), :id => flag, :type => :image, :src => "/assets/#{Spree::Setting::FLAGS_LIST[flag]}", :height => "30", :width => "40" %></li>
      <% end -%>
      <li><h6>Entrega 24 Horas</h6></li>
    </ul>
  </p>
<% end %>

